{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'docs_analyze/css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная страница</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'upload' %}">Загрузить</a></li>
                    <li>Пользователь: {{user.username}}|<a href="{% url 'users:logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'users:login' %}">Войти</a>|<a href="{% url 'users:register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Контент страниц -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Мой сайт. Все права защищены.</p>
    </footer>
</body>
</html>